.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  width: 290px;
  height: 354px;
  border-radius: 50px;
  background: #e0e0e000;
  box-shadow: 5px 5px 10px #ffd9fa, -5px -5px 10px #ffd9fa;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out; /* Add a transition for a smoother effect */
}

.card:hover {
  box-shadow: 8px 8px 20px #ffd9fa, -8px -8px 20px #ffd9fa; /* Increase the box shadow on hover */
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out; /* Add a transition for the zoom effect */
}

.card:hover img {
  transform: scale(1.1); /* Increase the scale on hover for a zoom effect */
}

.product-container h2 {
  color: white;
  z-index: 1;
  transition: margin-top 0.3s ease-in-out; /* Add a transition for a smoother effect */
}

.card:hover h2 {
  margin-top: 120px; /* Adjust the margin on hover to create space for the zoomed image */
}

.product-container h3 {
  color: rgb(0, 255, 4);
  font-size: 22px;
  margin-right: 5px;
  margin-left: 10px;
}

.product-details {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

@media (max-width: 750px) {
  .product-container {
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-around;
  }

  .card {
    width: 180px;
    height: 250px;
    margin-bottom: 5px;
  }
  .card h2 {
    top: 150px;
  }

  .product-container h2 {
    color: white;
    position: relative;
  }
  .emptyDiv {
    margin: 0;
    padding: 0;
    height: auto;
    width: fit-content;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }

  .product-container h2 {
    color: white;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .product-container h3 {
    color: rgb(0, 255, 4);
    font-size: 22px;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .product-details button {
    border-radius: 25px;
    font-size: 20px; /* Adjusted font size for a more delicate look */
    padding: 10px 20px; /* Add padding for a more comfortable touch */
    margin-bottom: 35px;
    color: #fff;
    background-color: #ff9cf5; /* Light pink color for a floral touch */
    transition: background-color 0.3s ease-in-out;
  }

  .product-details button:hover {
    background-color: #ff7fd7; /* Darker pink color on hover */
  }
}
